<a href="https://colab.research.google.com/github/PrincessAakanksha/-Programz/blob/main/PYTHON_L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("the {2} {1} {0}".format('fox', 'brown', 'quick'))

the quick brown fox

In [ ]:
print("the {q} {b} {f}.".format(f='fox', b='brown', q='quick'))

the quick brown fox.

In [ ]:
day = 'hot'

In [ ]:
if day == 'cool':
  print('take some tea')
elif day=='warm':
  print('take some Ice-tea')
elif day== 'hot':
  print('Ice-cream is the best')
else:
  print('Maggi is the best option')

Ice-cream runs the best

In [ ]:
name=='Sammy'
if name=='Franky':
  print('hello Franky')
elif name=='Jambu':
  print('hello Jambu')
else:
  print('I dont know you')

NameError: ignored

In [ ]:
mylist=[1,2,3,4,5]
for num in mylist:
  print (num)

1
2
3
4
5

In [ ]:
mylist=[1,2,3,4,5,6]
for hello in mylist:
  print('hola')

hola
hola
hola
hola
hola
hola

In [ ]:
mylist=[1,2,3,4,6,7,9,12]
for num in mylist:
  if num % 2 == 0:
    print (num)

2
4
6
12

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9]
listsum=0
for num in mylist:
  listsum=listsum+num
print(listsum)

45

In [ ]:
mystring='hello world'
for tinde in mystring:
  print(tinde)

h
e
l
l
o

w
o
r
l
d

In [ ]:
for tinde in 'hello world':
  print(tinde)

h
e
l
l
o

w
o
r
l
d

In [ ]:
mylist=[(1,2),(3,4),(4,5),(5,6)]
for items in mylist:
  print(items)

(1, 2)
(3, 4)
(4, 5)
(5, 6)

In [ ]:
#Tupple Unpacking

mylist=[(1,2),(3,4),(4,5),(5,6)]
for (a,b) in mylist:
  print(a)
  print(b)

1
2
3
4
4
5
5
6

In [ ]:
#WHILE LOOP

x=0
while x<5:
  x+=1
  print('value of x is', x)

value of x is 1
value of x is 2
value of x is 3
value of x is 4
value of x is 5

In [ ]:
myname= 'aaku'
for letter in myname:
  print(letter)

a
a
k
u

In [ ]:
myname= 'aaku'
for letter in myname:
  if letter =='k':
    continue
  print(letter)

a
a
u

In [ ]:
myname= 'aaku'
for letter in myname:
  if letter =='k':
    break
  print(letter)

a
a

In [ ]:
# USEFULL OPERATORS

In [ ]:
for num in range(0,15,2):
  print (num)

0
2
4
6
8
10
12
14

In [ ]:
list (range(1,11,2))

[1, 3, 5, 7, 9]

In [ ]:
mylist1 =('a','b','c')
mylist2=(1,2,3)
for item in zip(mylist1, mylist2):
  print (item)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
'a' in 'abcdef'

True

In [ ]:
input('enter a number here')

In [ ]:
#APPEND

In [ ]:
mystring='hello'
mylist= []
for letters in mystring:
  mylist.append(letters)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [ ]:
mystring = 'hello'
mylist= [letters for letters in mystring]
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [ ]:
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [ ]:
mylist=[x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylist=[x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
mylist=[x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [ ]:
mylist=[x%2==0 for x in range(0,11)]
mylist

[True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
mylist=[x**2 for x in range(0,11)if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [ ]:
example =[1,2,3,4,5,6,7,8]
from random import shuffle
shuffle(example)
example

[8, 6, 2, 4, 7, 3, 5, 1]

In [ ]:
def shuffle_list(mylist):
  shuffle(mylist)
  return(mylist)
result=shuffle_list(example)
result

[2, 5, 6, 3, 4, 1, 8, 7]

In [ ]:
mylist=['','O','']
shuffle_list(mylist)
def player_guess():
  guess=''
  while guess not in ['0','1','2']:
    guess=input("pick up a number: 0,1,2 ")
  return int(guess)

In [ ]:
player_guess()

pick up a number: 0,1,2 2

2

In [ ]:
myindex=player_guess()

pick up a number: 0,1,2 2

In [ ]:
myindex

2

In [ ]:
def check_guess(mylist,guess):
  if mylist[guess]=='O':
    print("correct")
  else:
    print ("Wrong Answer!")
    print(mylist)

In [ ]:
#INITIAL LIST
mylist=['','O','']
#SHUFFLE LIST
mixedup_list=shuffle_list(mylist)
#USER GUESS
guess=player_guess()
#CHECK GUESS
check_guess(mixedup_list,guess)

pick up a number: 0,1,2 2
Wrong Answer!
['O', '', '']

In [ ]:
def myfunc(name):
    print('Hello {}'.format(name))

In [ ]:
myfunc('aaku')

Hello aaku

In [ ]:
def myfunc(a):
  if a==True:
    return 'Hello'
  else:
    return 'Goodbye'

In [ ]:
myfunc(False)

'Goodbye'

In [ ]:
def myfunc(x,y,z):
    if z==True:
      return x
    else:
      return y

In [ ]:
myfunc('x','y',False)

'y'

In [ ]:
def myfunc(str):
    count = 0
    returnstr = ""
    for letter in str:
        if count%2 == 0:
            returnstr = returnstr + letter.upper()
        else:
            returnstr = returnstr + letter.lower()
        count = count + 1
    return returnstr

In [ ]:
myfunc('i am writin all letters in CAPS')

'I Am wRiTiN AlL LeTtErS In cApS'

In [ ]:
m= float(input("maths marks: "))
s= float(input("science marks: "))
e= float(input("english marks: "))
p=(m+s+e)/300*100
print('your percentage is: ',p,'%' )

maths marks: 70
science marks: 80
english marks: 90
your percentage is:  80.0 %

In [ ]:
def answer_the_call():
  greeting ="hi this is aaku, who's there on the call!"
  print(greeting)

In [ ]:
answer_the_call()

hi this is aaku, who's there on the call!

In [ ]:
def has_33(nums):
    for i in range(0, len(nums)-1):

        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:

        if nums[i:i+2] == [3,3]:
            return True

    return False

In [ ]:
has_33([1, 3, 3])

True

In [ ]:
import turtle
import random

w = 500
h = 500
fs = 10
d = 100  # milliseconds

offsets = {
    "up": (0, 20),
    "down": (0, -20),
    "left": (-20, 0),
    "right": (20, 0)
}

def r():
    global saap, kata, khanaT, pen
    saap = [[0, 0], [0, 20], [0, 40], [0, 60], [0, 80]]
    kata = "up"
    khanaT = nun()
    food.goto(khanaT)
    hall()

def hall():
    global kata

    new_head = saap[-1].copy()
    new_head[0] = saap[-1][0] + offsets[kata][0]
    new_head[1] = saap[-1][1] + offsets[kata][1]

    if new_head in saap[:-1]:
        r()
    else:
        saap.append(new_head)

        if not khana():
            saap.pop(0)

        if saap[-1][0] > w / 2:
            saap[-1][0] -= w
        elif saap[-1][0] < - w / 2:
            saap[-1][0] += w
        elif saap[-1][1] > h / 2:
            saap[-1][1] -= h
        elif saap[-1][1] < -h / 2:
            saap[-1][1] += h

        pen.clearstamps()
 #clears all the stamps

        for segment in saap:
            pen.goto(segment[0], segment[1])
            pen.stamp()

        screen.update()
 #updates the turtle.screen screen

        turtle.ontimer(hall, d)

def khana():
    global khanaT
    if dist(saap[-1], khanaT) < 20:
        khanaT = nun()
        food.goto(khanaT)
        return True
    return False

def nun():
    x = random.randint(- w / 2 + fs, w / 2 - fs)
    y = random.randint(- h / 2 + fs, h / 2 - fs)
    return (x, y)

def dist(poos1, poos2):
    x1, y1 = poos1
    x2, y2 = poos2
    distance = ((y2 - y1) ** 2 + (x2 - x1) ** 2) ** 0.5
    return distance

def mathi():
    global kata
    if kata != "down":
        kata = "up"

def go_right():
    global kata
    if kata != "left":
        kata = "right"

def go_down():
    global kata
    if kata != "up":
        kata = "down"

def go_left():
    global kata
    if kata != "right":
        kata = "left"

screen = turtle.screen()
screen.setup(w, h)
screen.title("saap")
screen.bgcolor("green")
screen.setup(500, 500)
screen.tracer(0)

pen = turtle.Turtle("square")
pen.penup()

food = turtle.Turtle()
food.shape("circle")
food.color("white")
food.shapesize(fs / 20)
food.penup()

screen.listen()
screen.onkey(mathi, "Up")
screen.onkey(go_right, "Right")
screen.onkey(go_down, "Down")
screen.onkey(go_left, "Left")

r()
turtle.do

AttributeError: ignored

In [ ]:
def myfunc(*args, **kwargs):
  print(args)
  print(kwargs)
  print('I would like {} {}'.format(args[0], kwargs['food']))

In [ ]:
myfunc(10,20,30,fruit='orange', food='donuts', animal='cat')

(10, 20, 30)
{'fruit': 'orange', 'food': 'donuts', 'animal': 'cat'}
I would like 10 donuts

In [ ]:
n=int(input())
if n%2!=0:
    print("Weird")
elif n%2==0 or (n>1 and n<6):
    print ("Not Weird")
elif n%2==0 or(21<n and n>5):
    print('Weird')
else :
    print("not weird")

40
Not Weird

In [ ]:
if _name_ == '_main_':
    n = int(input().strip())
if n%2!= 0  or (n>6and n<21) :
    print("Weird")

else:
    print("Not Weird")

NameError: ignored

In [ ]:
num1 = input("Insert a number: ")
variable = input("Insert a variable(+, -, *, /): ")
num2 = input("Insert a number: ")

add = float(num1) + float(num2)
subtract = float(num1) - float(num2)
multiply = float(num1) * float(num2)
divide = float(num1) / float(num2)

if variable == "+":
    print (add)

elif variable == "-":
        print(subtract)

elif variable == "*":
    print(multiply)

elif variable == "/":
    print(divide)

else:
    print("Error: Invalid input")

Insert a number: 3
Insert a variable(+, -, *, /): /
Insert a number: 3
1.0

In [ ]:
#MAD_LIBS1
color = input("Enter a color: ")
pluralNoun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are", color)
print(pluralNoun + " are blue")
print("I love", celebrity)

Enter a color: hoho
Enter a plural noun: haha
Enter a celebrity: hihi
Roses are hoho
haha are blue
I love hihi

In [ ]:
##Python_DataIsGood

##STRINGS

In [ ]:
len('hello world')

11

In [ ]:
mystring='Hello World'
print (mystring)

Hello World

In [ ]:
mystring='Hello World'
mystring                ##notice that when we add string with print() command,
                        ##then it print the output without inverted commas:""

'Hello World'

In [ ]:
mystring[1:4]                    ## for getting the substring 'ell'

'ell'

In [ ]:
mystring[::-1]

'dlroW olleH'

In [ ]:
mystring[:-5:-1]

'dlro'

In [ ]:
##Immutability: Strings are IMMUTABLE: Strings are not mutable!
##                                    (meaning you can't use indexing
##                                      to change individual elements of a string)
## Convert a name'Sam' into 'Pam', knowing that Strings are Immutable
name='Sam'
last_name=name[1:]
converted_name='P'+last_name
print (converted_name)
##This is also called STRING CONCATENATION

Pam

In [ ]:
mystring.upper()

'HELLO WORLD'

In [ ]:
mystring.lower()

'hello world'

In [ ]:
mystring.split()    ##organise the STRING into a LIST

['Hello', 'World']

In [ ]:
##SPLIT could be performed on various letters in the string
x='this is a beautiful day.'
x.split('i')

['th', 's ', 's a beaut', 'ful day.']

In [ ]:
## STRING INTERPOLATION: Multiple ways of formatting strings, printing variables in them
## 2 methods::  .format and f-strings (formatted strings literals)

print('This is a STRING {}'.format('Inserted'))

This is a STRING Inserted

In [ ]:
print("{} {} {}".format("blue","apples","are"))

blue apples are

In [ ]:
print("{1} {2} {0}".format("blue","apples","are"))

apples are blue

In [ ]:
print("{a} {r} {b}".format(b="blue",a="apples",r="are"))

apples are blue

In [ ]:
## Float_Formatting "(value:width.precision f)""

result=100/777
print(result)
print("The result is= {}".format(result))
print("The result is= {r}".format(r=result))
print("The result is= {r:1.4f}".format(r=result))
print("The result is= {r:10.4f}".format(r=result)) ##white_Spacing

0.1287001287001287
The result is= 0.1287001287001287
The result is= 0.1287001287001287
The result is= 0.1287
The result is=     0.1287

In [ ]:
##  f-strings (formatted strings literals)
name='Jose'
print(f'My name is {name}')

My name is Jose

In [ ]:
name='Sam'
age=3
print(f"{name} is {age}years old")

Sam is 3years old

In [ ]:
##  LISTS  ##
##  DOES : Indexing, Slicing & Concatenation the way it does in STRINGS
##  We can MUTATE the LISTS but not the Strings

In [ ]:
mylist1=["a","b","c"]
mylist2=[1,2,3]

#Indexing
print(mylist1[0])
#Slicing
print(mylist1[1:])
#Contatenate
print(mylist1+mylist2)
#Mutate
mylist1[0]="Hello"
print(mylist1)

a
['b', 'c']
['a', 'b', 'c', 1, 2, 3]
['Hello', 'b', 'c']

In [ ]:
#  APPEND
mylist1.append('apple')
mylist1

['Hello', 'b', 'c', 'apple', 'apple']

In [ ]:
mylist1.pop()   ## by default the pop() location is very end

'apple'

In [ ]:
mylist1

['Hello', 'b', 'c', 'apple']

In [ ]:
mylist1.pop(0)   ## but y index location could be given

'Hello'

In [ ]:
mylist1

['b', 'c', 'apple']

In [ ]:
mylist1=['v','f','d','q','a','k']
mylist1.sort()
mylist1

['a', 'd', 'f', 'k', 'q', 'v']

In [ ]:
import re
str1="my School 222 is  333 The 34343 Best 56789 in 8765 the World"
res=re.findall(r'\d+',str1)

In [ ]:
# TOP_%)_PYTHON_PROGRAMS: Nov 17, 2022 :: https://www.geeksforgeeks.org/python-programming-examples/#simple

In [ ]:
number1 = input("First number: ")
number2 = input("\nSecond number: ")
sum = float(number1) + float(number2)
print("The sum of {0} and {1} is {2}" .format(number1, number2,sum))

First number: 3

Second number: 5
The sum of 3 and 5 is 8.0

In [ ]:
a = input("First number: ")
b = input("\nSecond number: ")
if a >= b:
  return a
else:
  return b

First number: 7

Second number: 9

SyntaxError: ignored

In [ ]:
a = input("First number: ")
b = input("\nSecond number: ")
print(max(a, b))

First number: 5

Second number: 3
5

In [ ]:
a = input("First number: ")
b = input("\nSecond number: ")
print(a if a >= b else b)

First number: 4

Second number: 7
7

In [ ]:
a,b,c = 1, "HelloWorld", 2.34
print(a,b,c)

1 HelloWorld 2.34

In [ ]:
a,b=10,"Python"
a,b=b,a
print(a,b)

Python 10

In [ ]:
## STRING LENGTH
def strlen(str1):
  count=0
  for char in str1:
    count+=1
  return count
print(strlen('pythonisgood'))

12

In [ ]:
## FACTORIAL of a Number
def factorial(n):
  return 1 if (n==1 or n==0) else n * factorial(n - 1);
num = 10;
print("Factorial of",num,"is",factorial(num))

Factorial of 10 is 3628800

In [ ]:
# Factorial of a Number (2)
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact

# Driver Code
num = 5;
print("Factorial of",num,"is",factorial(num))

Factorial of 5 is 120

In [ ]:
# Python program to find CONPOUND INTEREST:

def compound_interest(principle, rate, time):

    # Calculates compound interest
    Amount = principle * (pow((1 + rate / 100), time))
    CI = Amount - principle
    print("Compound interest is", CI)


# Driver Code
compound_interest(10000, 10.25, 5)

In [ ]:
p= 1200
t= 2
r= 5
a=p*(1+(r/100))**t  # formula for calculating amount
ci=a-p              # compound interest = amount - principal amount
print(ci)

123.0

In [ ]:
## AREA OF THE CIRCLE :
def Area(r):
    PI = 3.142
    return PI * (r*r);

# Driver method
print("Area is %f" % Area(10));

Area is 314.200000

In [ ]:
def area(r):
 area = math.pi* pow(r,2)
 return print('Area of circle is:' ,area)
area(4)

Area of circle is: 50.26548245743669

In [ ]:
## HOMEWORK: To check if you can VOTE
age=int(input("Enter your Age: "))
if 120>age>=18:
  print("All the Best. You can VOTE for Humanity!")
elif age<18:
  print("Kiddo!!Try again Next Time")
else:
  print("Not a Valid age!! Are you an Alien??")

Enter your Age: 121
Not a Valid age!! Are you an Alien??

In [ ]:
## HOMEWORK: To check if you can VOTE
age=input("Enter your Age: ")
if age>=18:
  print("All the Best. You can VOTE for Humanity!")
elif age<18:
  print("Kiddo!!Try again Next Time")
else:
  print("Not a Valid age!! Are you an Alien??")

Enter your Age: hello

TypeError: ignored

In [ ]:
thing=input("Enter the Thing: ")
animal=input("Who the Animal you are: ")
bread=input("Which BREAD you eat: ")
if thing=="animal":
  if animal=="dog":
    if bread=="brown":
      print("I like Brown Bread")
    else:
      print("WooF..!! I like PeDiGrEE")
  else:
    print("MeoW eats MoUsE")
else:
  print("This is a hOOman!!")

Enter the Thing: car
Who the Animal you are: car
Which BREAD you eat: brown i will kill u
This is a hOOman!!

In [ ]:
thing=input("Enter the Thing: ")
animal=input("Who the Animal you are: ")
bread=input("Which BREAD you eat: ")
if thing=="animal":
  if animal=="dog":
    if bread=="brown":
      print("I like Brown Bread")
    elif bread== "pink":
      print("I like StraWBerry Short Cake")
    else:
      print("WooF..!! I like PeDiGrEE")
  elif animal=="parrot":
    print("I like cherries")
  else:
    print("MeoW eats MoUsE")
else:
  print("This is a hOOman!!")

Enter the Thing: animal
Who the Animal you are: parrot
Which BREAD you eat: brown
I like cherries

In [ ]:
#SORT & SORTED
new=[2,4,3,9,1,6,10]
new.sort()
new

[1, 2, 3, 4, 6, 9, 10]

In [ ]:
names=["abc","pqr","xyz","lbw",'hello',"world"]
names.sort()
names

['abc', 'hello', 'lbw', 'pqr', 'world', 'xyz']

In [ ]:
sorted("hello world")

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [ ]:
x="My name is %s"
y="Princess_Aakanksha :)"
print(x%y)

My name is Princess_Aakanksha :)

In [ ]:
# LAMBDA_FUNCTION: lambda functions are single line functions without any name
#                  thats why they are called: Annonymus Functions

double=lambda n:n*2
print(double(10))

20

In [ ]:
add= lambda x,y:x+y
print(add(10,20))

30

In [ ]:
larger=lambda a,b:a if a>b else b
print(larger(23,34))

34

In [ ]:
names=["abc","pqrs","xyz12","lbw",'hello_13',"1world"]
names.sort(key=lambda x:len(x))
print(names)

['abc', 'lbw', 'pqrs', 'xyz12', '1world', 'hello_13']

In [ ]:
#MAP Function
n1=[2,3,4]
n2=[3,4,5]
sum=map(lambda num1,num2:num1+num2, n1,n2)
print(list(sum))

[5, 7, 9]

In [ ]:
num=[2,3,4,5]
sq_num=list(map(lambda n:n*2,num))
print(sq_num)

[4, 6, 8, 10]

In [ ]:
##  SORT  &  Sorted

x=[2,6,9,4,7,3,1]
x.sort()
print (x)

[1, 2, 3, 4, 6, 7, 9]

In [ ]:
x=[2,6,9,4,7,3,1]
print (sorted(x))

[1, 2, 3, 4, 6, 7, 9]

In [ ]:
#  ZIP Function
first=["Princess",'baby','sone']
last=["Aakanksha",'doll',"ki"]
name=zip(first,last)
for a,b in name:
  print (a,b)

Princess Aakanksha
baby doll
sone ki

In [ ]:
#Homework

first=["Princess",'baby','sone']
last=["Aakanksha",'doll',"ki"]
last2=["hello","world","ok"]
name=zip(first,last,last2)
for a,b,c in name:
  print (a,b,c)

Princess Aakanksha hello
baby doll world
sone ki ok

In [ ]:
#Unpack_List
name,clas,roll=["Aakanksha","Google","akankshag"]
print(roll)

akankshag

In [ ]:
print(clas)

Google

In [ ]:
# def_Function:  Nested_Function
def school():
  print("place to learn")
  garden()
def park():
    print("place to play")
    market()
def market():
  print("place to shop")
def garden():
    print("place to grow plants")

In [ ]:
school()

place to learn
place to grow plants

In [ ]:
park()

place to play
place to shop

In [ ]:
# HOMEWORK: def function: Currency_Convertor
def dollar_to_rupee(d):
  amount= d*82.42
  print(amount)

def euro_to_rupee(d):
  amount= d*86.88
  print(amount)

def dinar_to_rupee(d):
  amount= d*269.04
  print(amount)

def pound_to_rupee(d):
  amount= d*101.10
  print(amount)

In [ ]:
dollar_to_rupee(10)

824.2

In [ ]:
pound_to_rupee(10)

1011.0

In [ ]:
## Keyword_Arguments
def routine(name="I", action="love", thing="chocolates"):
  print(name,action,thing)
routine()

I love chocolates

In [ ]:
# Unpack_Arguments
## HEALTH_CALCULATOR
def health_cal(age,apple_ate,cigarette_smoked):
  answer=(100-age)+(apple_ate*3)+(cigarette_smoked*2)
  print (answer)

In [ ]:
Harry_Data=(25,2,2)
print(health_cal(*Harry_Data))

85
None

In [ ]:
class Train:
    def _init_ (self,name,fare,seat):
        self.name = name
        self.seat = seat
        self.fare = fare

    def status(self):
        print(f"the name of the train is {self.name} and the availabilty of train is {self.seat}")
    def farechk(self):
        print(f"the fare of the train is {self.fare}")

    def book_tickets(self):

        n=int(input("how many ticets your wanted to book\n"))
        print("oh no")
        if (self.seat >= n):
            print("your Seat is booked")
            self.seat = self.seat- n
        else:
            print("Sorry train s fully booked")
    def cancle(self):
        x=int(input("how many Tickets you wanted to cancle\n"))
        print("your %d seat is cancled" %x)
        self.seat = self.seat+x;

In [ ]:
from datetime import datetime
now = datetime.now()

now
datetime(2022, 11, 22, 14, 31, 59, 331225)

print(now)

2022-12-14 03:26:46.784566

In [ ]:
##ROMAN_to_English_Numbers

class Solution(object):
   def romanToInt(self, s):
      """
      :type s: str
      :rtype: int
      """
      roman = {'I':1,'V':5,'X':10,'L':50,'C':100,'D':500,'M':1000,'IV':4,'IX':9,'XL':40,'XC':90,'CD':400,'CM':900}
      i = 0
      num = 0
      while i < len(s):
         if i+1<len(s) and s[i:i+2] in roman:
            num+=roman[s[i:i+2]]
            i+=2
         else:
            #print(i)
            num+=roman[s[i]]
            i+=1
      return num
ob1 = Solution()
print(ob1.romanToInt("III"))
print(ob1.romanToInt("LVIII"))
print(ob1.romanToInt("MCMXCIV"))

3
58
1994

In [ ]:
##PYTHON Functions
a=4
b=5
c=sum((a,b))
print (c)

9

In [ ]:
#SORTING
list1=[1,3,2,8,5,9,4,6]
list1.sort
print(list1)

[1, 3, 2, 8, 5, 9, 4, 6]

In [ ]:
list1=[1,3,2,8,5,9,4,6]
list1.sort(reverse=True)
print(list1)

[9, 8, 6, 5, 4, 3, 2, 1]

In [ ]:
print(dir(__builtin__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
print(len(dir(__builtin__)))

155

In [ ]:
#AVERAGE
n1=int(input("enter the first number: "))
n2=int(input("enter the second number: "))
def average(n1,n2):
  avg=(n1+n2)/2
  return avg
print(average(n1,n2))

enter the first number: 12
enter the second number: 14
13.0

In [ ]:
def name(fname,lname):
  print(f'my first name is {fname} and my last name is {lname}')
name("Princess", "Aakanksha")

my first name is Princess and my last name is Aakanksha

In [ ]:
##SETS##
##There are 2 ways we can show the SETS

a={1, 2.5, "Hello"}
print(a)
print(type(a))

{1, 2.5, 'Hello'}
<class 'set'>

In [ ]:
b=set([2,3.5,"World"])
print(b)
print(type(b))

{2, 3.5, 'World'}
<class 'set'>

In [ ]:
###  SETS: 1. Unordered elemts
     #     2. Duplicate values can't be present
     #     3. Elements are not eindexed
     #     4. {}, set constructors:-  'set([])'

In [ ]:
c={2,5,7,"a", 5,"q",2.5,5}    # Duplicate values can't be present
print(c)

{2, 'a', 2.5, 5, 7, 'q'}

In [ ]:
e={1,2.5,4,7,8.9,"Hello","World"}
print (e)
for i in e:
  print(i)

{1, 2.5, 'World', 4, 7, 8.9, 'Hello'}
1
2.5
World
4
7
8.9
Hello

In [ ]:
print("Hello" in e)

True

In [ ]:
print("Human" in e)

False

In [ ]:
l1=[2,4,6,2,6,2,7,8]  ## It has duplicate values:it is a LIST
print(l1)

[2, 4, 6, 2, 6, 2, 7, 8]

In [ ]:
ab=set(l1)     ## Here duplicate values are removed: it is converted into SET
print(ab)

{2, 4, 6, 7, 8}

In [ ]:
## to ADD SINGLE element
e={1,2.5,4,7,8.9,"Hello","World"}
e.add(108)
print(e)

{1, 2.5, 4, 7, 8.9, 'World', 108, 'Hello'}

In [ ]:
## to ADD MULTIPLE values
e={1,2.5,4,7,8.9,"Hello","World"}
e.update([13,5,"Cool"])
print(e)

{1, 2.5, 4, 5, 7, 8.9, 'World', 13, 'Cool', 'Hello'}

In [ ]:
##  to add Single value, it takes as a TUPPLE and
##  to add Multiple values, it takes it as a LIST

In [ ]:
##  REMOVE a value
e={1, 2.5, 4, 5, 7, 8.9, 'World', 13, 'Cool', 'Hello'}
e.remove("Cool")
print(e)

{1, 2.5, 4, 5, 7, 8.9, 'World', 13, 'Hello'}

In [ ]:
#  POP :  It will randimly removes ANY element
e={1, 2.5, 4, 5, 7, 8.9, 'World', 13, 'Cool', 'Hello'}
e.pop()
print(e)

{2.5, 4, 5, 7, 8.9, 'World', 13, 'Cool', 'Hello'}

In [ ]:
### TUPLES:  1. Immutable Datatypes
     #       2. Denoted with ()
     #       3. Tuples if created with single element, need to have coma ',' in it
     #       4. Can be cerated wih mixed set of Datatypes
     #       5. Can be Indexed

In [ ]:
t=(13)
print(type(t))

<class 'int'>

In [ ]:
t=(13,)         ## Tuples with single element, need to have coma ',' in it
print(type(t))

<class 'tuple'>

In [ ]:
tu=(1,1.3,"abc")   ## Can be cerated wih mixed set of Datatypes
print(type(tu))
print(tu)

<class 'tuple'>
(1, 1.3, 'abc')

In [ ]:
tu=(1,1.3,"abc")   ## Can be Indexed
print(tu[1])

1.3

In [ ]:
tu[1]=1   ## Immutable Datatypes :does not support item assignment

TypeError: ignored

In [ ]:
# Methods: COUNT
tu1=(1,2,4,6,7,4,"Hello",4,"World")
print(tu1.count(4))

3

In [ ]:
#Methods: LENGTH
print(len(tu1))

9

In [ ]:
#Methods:INDEX
print(tu1.index(4))    ## will give the 1st index position of that element

2

In [ ]:
#Methods: DELETE
del tu1
print(tu1)

NameError: ignored

In [ ]:
### For Loop

In [ ]:
x= ("python hello world, i am alien")
print(x[0:-1:2])
print(len(q))

pto el ol,ia le
22

In [ ]:
q[0:23:]

'hello world qwertyuiop'

In [ ]:
q[::]

'hello world qwertyuiop'

In [ ]:
q.upper()

'HELLO WORLD QWERTYUIOP'

In [ ]:
## LECTURE_2: 05-Nov-2022
# TO Print 2 Lines and more: USE (""") 3 inverted commas

line="""here is line 1
and one more line, without using another set of inverted commas...
and it would continue to any number of lines..!! Great"""
print(line)

here is line 1
and one more line, without using another set of inverted commas...
and it would continue to any number of lines..!! Great

In [ ]:
# INDEXING:  The Python index() method helps you
#            to find the Index Position of an Element
#            or an item in a String of characters or a List of items.

In [ ]:
city="Kurukshetra"
len(city)

11

In [ ]:
print(city[1])   #Indexin starts with: 0 [0,1,2,3,4,5,...]

u

In [ ]:
print(city[-1])  #to print the LAST Character

a

In [ ]:
x="Python is a Programing Language"
x[0:5]                     #[x:y:z]== x:starting index, y: ending index, z=Jump

'Pytho'

In [ ]:
x[0:12:2]

'Pto sa'

In [ ]:
# String slicing: have -ve indexing but it could not back propagate

x[-1:-5]   # we will get a BACK PROPAGATION ERROR

''

In [ ]:
x[-10:-2]

'g Langua'

In [ ]:
# To Reverse the String
x[::-1]

'egaugnaL gnimargorP a si nohtyP'

In [ ]:
# STRING METHODs

a='harry potter'
a.capitalize()   #First letter of the String would be Capitalize.

'Harry potter'

In [ ]:
a.title()        #All first letters of words in string will Capiltalize.

'Harry Potter'

In [ ]:
a.swapcase()     # Swaps the Capitalization:lower to upper and vice versa

'HARRY POTTER'

In [ ]:
a.upper()       # Converts ALL letters in upper case; Opposite: a.lower()

'HARRY POTTER'

In [ ]:
a.islower()     # To check is characters are in Upper/Lower case; Opposite: a.isupper()

True

In [ ]:
p='abcd123'
p.isalnum()     # To check id string is AlphaNumeric

True

In [ ]:
p.isalpha()     # To check id string is Alphabets only

False

In [ ]:
q= " twinkle twinkle little star"
q.count("t")      # to count the number of times any String appears

5

In [ ]:
q.count("twinkle")

2

In [ ]:
q.find('w')     # To find the index position of the string (First time only)

2

In [ ]:
q.find('little')

17

In [ ]:
q.find('hello')       # will give -1 is string is not present

-1

In [ ]:
q.index("star")     # Will give the INDEX Position; also retuurns ERROR if string could not be found

24

In [ ]:
q.replace("little","bright")  # to Replace a string

' twinkle twinkle bright star'

In [ ]:
# STRIP method: removes all the blank spaces from the String
e="         it has a lot of blank spaces         "
e.strip()

'it has a lot of blank spaces'

In [ ]:
# SPLIT Method:  Splits the string and stores it into a LIST
r="Today is a FairyTale"
r.split()

['Today', 'is', 'a', 'FairyTale']

In [ ]:
# We can give a Logic in which we can Split the data.

x="Betty Bought Butter.Butter was Bitter. Betty Bought Better Butter to make Bitter Butter Better."
x.split("Be")

['',
 'tty Bought Butter.Butter was Bitter. ',
 'tty Bought ',
 'tter Butter to make Bitter Butter ',
 'tter.']

In [ ]:
# CONCATENATION
a="Bruce"
b="is"
c="Batman"
print(a+b+c)
print(a+" "+b+" "+c)

BruceisBatman
Bruce is Batman

In [ ]:
### LECTURE_4: 13-Nov-2022
## FORMATTING A STRING
# F-String Formatting #

a=25
b=30
print(f'the value of a is: {a}')

the value of a is: 25

In [ ]:
# Percentile Formatting
a='Python'
b='The Best'
print("%s is %s Programming Language." %(a,b))

Python is The Best Programming Language.

In [ ]:
print("{a} is {b} Progaramming language.".format(a=a,b=b))

Python is The Best Progaramming language.

In [ ]:
print("Thunder {2} {1} {0} & The Thunder!!".format('Thunder,,,Lightening', 'The', 'Feel'))

Thunder Feel The Thunder,,,Lightening & The Thunder!!

In [ ]:
print("the {q} {b} {f}.".format(f='fox', b='brown', q='quick'))

the quick brown fox.

In [ ]:
# Brackets:    ():Tuples,   {}:Dictionary,   []:List

In [ ]:
# STRINGS_Methods:

s='Coldplay Christopher Anthony John Martin'

In [ ]:
s.endswith("n")

True

In [ ]:
s.startswith('C')

True

In [ ]:
s.startswith('c')

False

In [ ]:
# SplitLines

s1='''I've been reading books of old, The legends and the myths
Achilles and his gold, Hercules and his gifts
Spiderman's control, And Batman moves his fists
And clearly I don't see, myself upon that list'''

s1.splitlines()

["I've been reading books of old, The legends and the myths",
 'Achilles and his gold, Hercules and his gifts',
 "Spiderman's control, And Batman moves his fists",
 "And clearly I don't see, myself upon that list"]

In [ ]:
mystring='Hello World'
mystring.split()

['Hello', 'World']

In [ ]:
mystring.split("l")

['He', '', 'o Wor', 'd']

In [ ]:
#### Python Numbers

In [ ]:
a=100
print(type(a))

<class 'int'>

In [ ]:
b=100_00_00_00_00_00_00_00_00_00
print(type(b))

<class 'int'>

In [ ]:
c=13.05
print(type(c))

<class 'float'>

In [ ]:
#TypeCasting
g=13.05
a1=23
print(int(g))

13

In [ ]:
print(float(a1))

23.0

In [ ]:
#RANDOM ::  This function is used to Generate OTP
import random
print(random.randrange(13,23))

14

In [ ]:
## Program to generate 4 DIGIT OTP ##
print(random.randrange(1000,9999))

9287

In [ ]:
import math   # Imports the MATHS Module

In [ ]:
math.e   #Exponential

2.718281828459045

In [ ]:
math.pi   # Value of pi

3.141592653589793

In [ ]:
s=9
print(math.sqrt(s))

3.0

In [ ]:
print(max(2,6,9,2,221,13,23,61,89,101,108))

221

In [ ]:
print(min(2,6,9,2,221,13,23,61,89,101,108))

2

In [ ]:
# Absolute function: Gives absolute value
f=-13.05
print(abs(f))

13.05

In [ ]:
### LECTURE_4: 13-Nov-2022
### ~FIN~

In [ ]:
#   PROJECTS: try calorie conscious calculator , where user input there intake in breakfast/lunch/din.
#   user k pass dono option rahega food and quantity

In [ ]:
### LECTURE_5: 19-Nov-2022
### ARITHMATIC_OPERATORS

In [ ]:
a= 20
b= 5
print(a+b)

25

In [ ]:
print(a-b)

15

In [ ]:
print(a*b)

100

In [ ]:
print(a/b)

4.0

In [ ]:
print(a**b)  # Exponential

3200000

In [ ]:
c=13
d=5

In [ ]:
print(c%d) #Gives Remainder

3

In [ ]:
print(c/d) # gives perfect division

2.6

In [ ]:
print(c//d) # FLOOR DIVISION:gives mod division:no remainder processed

2

In [ ]:
## FLOOR Division relates with the inpu data types gives
## if Floating point numbers are the inputs then result will be in Float only

In [ ]:
p=15.5  # FLOOR DIVISION
q=3
print(p//q)

5.0

In [ ]:
# Bitwise Operator: Decimal into Binary number
q1=113
target_bin=bin(q1)
print(target_bin)

0b1110001

In [ ]:
t1=target_bin.replace('0b','0')
print(t1)

01110001

In [ ]:
#AND Operator: Deciamls are converted first into Binary and hen processed with AND Operation
c=13
d=5
print(c&d)

5

In [ ]:
print(c or d)

13

In [ ]:
print(c|d) # This is also OR Operator

13

In [ ]:
print(c^d)  # XOR Operator

8

In [ ]:
### LECTURE_5: 19-Nov-2022
### ~FIN~

In [ ]:
## HoMeWoRk:: 10_Input_List
### 10 Food Inputs from user and show it later in the List

In [ ]:
## Code #4: List of lists as input

lst = [ ]
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
hello
world

ValueError: ignored

In [ ]:
## HoMeWoRk:: 10_Input_List
##  all the entries--> string:: then string to list: print the LIST


print("𝔼𝕟𝕥𝔼𝕣 𝕋𝕙𝕖 10 𝕗𝕆𝕆𝕕𝕊 𝕪𝕆𝕦 𝕃𝕚𝕂𝕖...")
Food1 = input("yeah tell the 1st fav food...")
Food2 = input("nice.. tell the 2nd fav food...")
Food3 = input("Good... tell the 3rd fav food...")
Food4 = input("now tell the 4th fav food...")
Food5 = input("Cool tell the 5th fav food...")
Food6 = input("Nett... tell the 6th fav food...")
Food7 = input("Yumm.... tell the 7th fav food...")
Food8 = input("Awesommmm... tell the 8th fav food...")
Food9 = input("Yummy... tell the 9th fav food...")
Food10 = input("Finally tell the 10th fav food...")
print("𝕪𝕆𝕌𝕣 𝟙𝟘 𝕗𝔸𝕧𝕆𝕣𝕀𝕥𝔼 𝕗𝕆𝕆𝕕𝕊 𝔸𝕣𝔼...")
for name in foods:
    print(Food1)

𝔼𝕟𝕥𝔼𝕣 𝕋𝕙𝕖 10 𝕗𝕆𝕆𝕕𝕊 𝕪𝕆𝕦 𝕃𝕚𝕂𝕖...
yeah tell the 1st fav food...h
nice.. tell the 2nd fav food...e
Good... tell the 3rd fav food...l
now tell the 4th fav food...l
Cool tell the 5th fav food...o
Nett... tell the 6th fav food...w
Yumm.... tell the 7th fav food...o
Awesommmm... tell the 8th fav food...r
Yummy... tell the 9th fav food...l
Fianlly tell the 10th fav food...d
𝕪𝕆𝕌𝕣 𝟙𝟘 𝕗𝔸𝕧𝕆𝕣𝕀𝕥𝔼 𝕗𝕆𝕆𝕕𝕊 𝔸𝕣𝔼...

NameError: ignored

In [ ]:
Food_U_Like = input("𝔼𝕟𝕥𝔼𝕣 𝕋𝕙𝕖 10 𝕗𝕆𝕆𝕕𝕊 𝕪𝕆𝕦 𝕃𝕚𝕂𝕖...")
foods = Food_U_Like.split(",")
print("𝕪𝕆𝕌𝕣 𝟙𝟘 𝕗𝔸𝕧𝕆𝕣𝕀𝕥𝔼 𝕗𝕆𝕆𝕕𝕊 𝔸𝕣𝔼...")
for name in foods:
  print(name)

TypeError: ignored

In [ ]:
List_Of_Food = [ ]
n = int(input("Enter number of Items : "))

for i in range(0, n):
    food = [input(), int(input())]
    List_Of_Food.append(food)

print(List_Of_Food)

Enter number of Items : 5
h
e

ValueError: ignored

In [ ]:
### LECTURE_6: 20-Nov-2022

In [ ]:
## Relational, Comparison  Operator

In [ ]:
a=5
b=10
c=13
d=23

In [ ]:
print(a==b)

False

In [ ]:
print(a>b)

False

In [ ]:
print(a<b)

True

In [ ]:
print(a!=b)

True

In [ ]:
print(a>=b)

False

In [ ]:
print(a<=b)

True

In [ ]:
# Assignment Operators

In [ ]:
b+=a
print(b)

25

In [ ]:
b-=a
print(b)

20

In [ ]:
b*=a
print(b)

100

In [ ]:
b/=a
print(b)

20.0

In [ ]:
# Membership Operators

In [ ]:
x={2,4,6,8,10}
y=4
z=5

In [ ]:
print(y in x)

True

In [ ]:
print(z in x)

False

In [ ]:
print(y not in x)

False

In [ ]:
x=6
y=4
z=3
print(x>y and z<y)

True

In [ ]:
# IS & ISNOT Operator

In [ ]:
p=[2,4,6,8]
q=p
r=[1,3,5,7]

In [ ]:
print(p is q)

True

In [ ]:
print(p is not r)

True

In [ ]:
## *Conditional Statements*

In [ ]:
a=10
b=20
if(a>b):
  print("Roses are Red, Skies are Blue")
else:
  print("Nothing is True")

Nothing is True

In [ ]:
a=int(input())
b=int(input())
if(a>b):
  print("Roses are Red, Skies are Blue")
else:
  print("Nothing is True")

9
2
Roses are Red, Skies are Blue

In [ ]:
### LECTURE_6: 20-Nov-2022
### ~FIN~

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [ ]:
## HoMeWoRk:: 10_Input_List
##  all the entries--> string:: then string to list: print the LIST

def Convert(string):
    li = list(string.split(" "))
    return li

print("𝔼𝕟𝕥𝔼𝕣 𝕋𝕙𝕖 10 𝕗𝕆𝕆𝕕𝕊 𝕪𝕆𝕦 𝕃𝕚𝕂𝕖...")
Food1 = input("yeah tell the 1st fav food...")
Food2 = input("nice.. tell the 2nd fav food...")
Food3 = input("Good... tell the 3rd fav food...")
Food4 = input("now tell the 4th fav food...")
Food5 = input("Cool tell the 5th fav food...")
Food6 = input("Nett... tell the 6th fav food...")
Food7 = input("Yumm.... tell the 7th fav food...")
Food8 = input("Awesommmm... tell the 8th fav food...")
Food9 = input("Yummy... tell the 9th fav food...")
Food10 = input("Finally tell the 10th fav food...")
print("𝕪𝕆𝕌𝕣 𝟙𝟘 𝕗𝔸𝕧𝕆𝕣𝕀𝕥𝔼 𝕗𝕆𝕆𝕕𝕊 𝔸𝕣𝔼...")
Foods= (Food1 +"','"+ Food2)
print(Convert(Foods))

𝔼𝕟𝕥𝔼𝕣 𝕋𝕙𝕖 10 𝕗𝕆𝕆𝕕𝕊 𝕪𝕆𝕦 𝕃𝕚𝕂𝕖...
yeah tell the 1st fav food...a
nice.. tell the 2nd fav food...a
Good... tell the 3rd fav food...a
now tell the 4th fav food...a
Cool tell the 5th fav food...a
Nett... tell the 6th fav food...a
Yumm.... tell the 7th fav food...a
Awesommmm... tell the 8th fav food...a
Yummy... tell the 9th fav food...a
Finally tell the 10th fav food...a
𝕪𝕆𝕌𝕣 𝟙𝟘 𝕗𝔸𝕧𝕆𝕣𝕀𝕥𝔼 𝕗𝕆𝕆𝕕𝕊 𝔸𝕣𝔼...

AttributeError: ignored

In [ ]:
def Convert(string):
    li = list(string.split(" "))
    return li


# Driver code
str1 = input("give the string input: ")
print(Convert(str1))

give the string input: ba ba black sheep
['ba', 'ba', 'black', 'sheep']

In [ ]:
Food_List = [ ]
n = int(input("Enter number of Food Items you Like: "))
for i in range(0, n):
  ele = [input()]
  Food_List.append(ele)
print("Your Favorite Food Item are: ", Food_List)

Enter number of Food Items : 5
h
e
l
l
o
Your Favorite Food Item are:  [['h'], ['e'], ['l'], ['l'], ['o']]

In [ ]:
my_list = []

for _ in range(5):
    try:
        my_list.append((input('Enter the string: ')))
    except ValueError:
        print('The provided value is not an integer')


print(my_list)

Enter the string: 6
Enter the string: h
Enter the string:
Enter the string: k
Enter the string: 9
['6', 'h', '', 'k', '9']

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [ ]:
### LECTURE_7: 26-Nov-2022
###  Conditional Statement: TBC

In [ ]:
# Here multiple If statements will run
a=5
b=10
c=20

if (a>b):
  print("a is greater than b")
if (a>c):
  print("a is greater than b")
if (c>a):
  print("c is greater than a")
if (c>b):
  print("c is greater than a")
if (b>a):
  print("b is greater than a")
else:
  print("All are Great")

c is greater than a
c is greater than a
b is greater than a

In [ ]:
# Here ONLY One If statements will run: The First one to execute
a=5
b=10
c=20

if (a>b):
  print("a is greater than b")
elif (a>c):
  print("a is greater than b")
elif (c>a):
  print("c is greater than a")
elif (c>b):
  print("c is greater than a")
elif (b>a):
  print("b is greater than a")
else:
  print("All are Great")

c is greater than a

In [ ]:
# IF, AND, OR CONDITIONs

x= int(input("enter the first number: "))
y= int(input("enter the second number: "))
if x>y and x>10:
  print("X is Great !")
else:
  print("Yeah then,, Y is Great !!")

enter the first number: 11
enter the second number: 5
X is Great !

In [ ]:
# NESTED IF

name= input("enter your name: ")
age= int(input("enter your age: "))
gender= input("enter your gender: ")

if age>=20 and age<=40:
  if gender=="male":
    print("Your application is Elibilble for the Junior Steward Role")
  elif gender=="female":
    print("Your application is Elibilble for the Junior Air Hostess Role")
  else:
    print("provide your correct information")

elif age>=40 and age<=50:
   if gender=="male":
    print("Your application is Elibilble for the Senior Steward Role")
   elif gender=="female":
    print("Your application is Elibilble for the Senior Air Hostess Role")
   else:
    print("provide your correct information")

else:
  print("Sorry, You are not elegible for the job now")

enter your name: batman
enter your age: 44
enter your gender: male
Your application is Elibilble for the Senior Steward Role

In [ ]:
#  Python_FUNCTIONS

In [ ]:
a=5
b=8
print(sum((a,b)))

13

In [ ]:
lst1=[2,4,6,7,9]
lst2=[1,3,5,8,2]

In [ ]:
lst1.sort()
print(lst1)

[2, 4, 6, 7, 9]

In [ ]:
lst1.sort(reverse=True)
print(lst1)

[9, 7, 6, 4, 2]

In [ ]:
print(len(dir(__builtin__)))

155

In [ ]:
print(dir(__builtin__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [ ]:
n1=int(input("enter the first number: "))
n2=int(input("enter the second number: "))
def average(n1,n2):
  avg=(n1+n2)/2
  return avg
print(average(n1,n2))

enter the first number: 7
enter the second number: 8
7.5

In [ ]:
## f-string: where you keep the variable data in the print statement

In [ ]:
def name(fname,lname):
  print(f"my first name is {fname} and last name is {lname}")

name("Hello","World")

my first name is Hello and last name is World

In [ ]:
### LECTURE_7: 26-Nov-2022
### ~FIN~

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [ ]:
### LECTURE_8: 27-Nov-2022

In [ ]:
## Parameters and Arguments

In [ ]:
def name(fname,lname):
  print(f"my first name is {fname} and last name is {lname}")

name("Hello","World")

my first name is Hello and last name is World

In [ ]:
## Parameters: fname,lname
## Arguments : "Hello","World"

In [ ]:
# To Calculate the age
def ageism(this_year,dob_year):
  age=this_year-dob_year
  return age
current_age=ageism(2023,1989)
print(current_age)

34

In [ ]:
# Full_Name
def fullname(first_name,last_name):
  fullname=first_name+" "+last_name
  return fullname
fullname("Harry","Potter")

'Harry Potter'

In [ ]:
### OPTIONAL PARAMETERS

In [ ]:
## ALARM_CLOCK


import time
# Get the time for the alarm from the user
alarm_time = input("Enter the time for the alarm in HH:MM format: ")

# Convert the alarm time string to a time object
alarm_time_obj = time.strptime(alarm_time, "%H:%M")

while True:
    # Get the current time
    current_time_obj = time.localtime()

    # Check if the current time matches the alarm time
    if current_time_obj.tm_hour == alarm_time_obj.tm_hour and current_time_obj.tm_min == alarm_time_obj.tm_min:
        #
# If the current time matches the alarm time, play a sound
        #winsound.Beep(440, 1000)
        print ('Jingle Bells')
        break

    # Sleep for 1 second before checking again
    time.sleep(1)

In [ ]:
## BASIC_CALCULATOR


# Examples of Arithmetic Operator
a =int(input("enter the first digit: "))
b =int(input("enter the second digit: "))

# Addition of numbers
add = a + b
# Subtraction of numbers
sub = a - b
# Multiplication of number
mul = a * b
# Division(float) of number
div1 = a / b
# Division(floor) of number
div2 = a // b
# Modulo of both number
mod = a % b

# print results
print("The Addition of the two digits is: ",add)
print("The Subtraction of the two digits is: ",sub)
print("The Multiplication of the two digits is: ",mul)
print("The Division of the two digits is: ",div1)
print("The Float_Division of the two digits is: ",div2)
print("The Modulus of the two digits is: ",mod)